doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Partiel1
    link(rel="stylesheet", href="../style.css")
    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/Images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/Images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/Images/icons/favicon-16x16.png">
    link(rel="icon" type="image/x-icon" href="../Assets/Images/icons/favicon.ico")
    
  body
    include nav.pug

    header
      div
      div
        h1 HorseSexAndMoney
        h2 -
        h2 le tinder équestre
        p Lorem ipsum dolor sit amet. Morbi accumsan rhoncus rhoncus. Praesent diam mauris, mollis eu imperdiet quis, commodo ut est. Maecenas rutrum ante a quam tincidunt, vel rutrum felis blandit. Duis scelerisque dui in enim tempor, porta pulvinar est pharetra. Cras convallis, magna sed ultricies condimentum, dui orci scelerisque enim, eget lementum orci diam sit amet mi. Mauris venenatis elit nec turpis vestibulum pulvinar. Cras congue rutrum arcu vel fermentum. Pellentesque habitant morbi tristique senectus et netus et alesuada fames ac turpis egestas. Nunc volutpat elementum sem ut laoreet. Donec placerat felis tellus, nec aliquet mi vestibulum fermentum. Pellentesque habitant morbi tristique senectus et netus et alesuada fames ac turpis egestas.
    
    main
      section
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
        article
          .article__pic
          .article__desc
            h3 Titre
            h4 - Sous titre
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi...
    script(src="https://kit.fontawesome.com/c327878e2f.js" crossorigin="anonymous")