doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Partiel1
    link(rel="stylesheet", href="../style.css")
  body.pageMatch
    include nav.pug
    script(src="https://kit.fontawesome.com/c327878e2f.js" crossorigin="anonymous")
    
    main(class="match__container")
      h2 Match
      .card
        .card__picture
        .card__content
          .card__content--desc
            p Fischl - Jument Arabe
            p 350 kg
            p 170cm
          .card__content--icons
            i(class="fas fa-plus-circle")
            i(class="fas fa-comment-dollar")
            i(class="fas fa-eye-slash")